 body {
    font-family: Arial, sans-serif;
    background: hsl(310, 21%, 55%);
    text-align: center;
    padding: 30px;
  }

  ul {
    list-style-type: none;
    margin: -50;
    padding: 0;
    overflow: hidden;
    background-color: rgb(218, 213, 206);
  }
  .header {
    margin-left: -35;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(120, 122, 117);
  }
  

  h1 {
    color: #f0ecec;
  }

  .pet {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(32, 114, 63, 0.2);
    transition: transform 0.2s;
  }

  .pet:hover {
    transform: scale(1.05);

  }

  #counter {
    font-size: 20px;
    margin-top: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    box-shadow:rebeccapurple;
  }

  #actions {
    margin-top: 20px;
  } 